<h1>Parent/Root Component (app component)</h1>
 
<!-- <app-child [loggedIn]="userLoggedIn"></app-child> -->

<div>
  <button (click)="userloggedIn=true">Log in</button>
  <button (click)="userloggedIn=false">Log Out</button>
</div>
 
<!-- <app-child #child [loggedIn]="userloggedIn"></app-child> -->


<!--Trying to acces child methods and varaible in parent --method 1 -->
<!-- <div>
  {{child.name}}
  <button (click)="child.greetLopa()"> Click Me</button>
</div> -->

<!--Trying to acces child methods in parent --method 2-->



<!-- Child Component will acess the parent component method -->

<app-child (greetEvent)="greetMe($event)"></app-child>